/* -------------------------------------------------------------------------- */
/*                               Header section                               */
/* -------------------------------------------------------------------------- */
#header {
  z-index: 997;
  position: absolute;
  right: 4%;
  left: 20%;
  top: 28%;
  transition: top 0.3s;
}
#header.sticky {
  position: fixed;
}

.nav-link {
  margin-bottom: 1rem;
  color: #130d0d !important;
  font-weight: 900 !important;
  font-size: 22px;
  letter-spacing: 0.07rem !important;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding-top: 0.12rem;
  width: 50px;
  height: 50px;
  text-align: center;
}
#header .navbar-nav .nav-link:active {
  color: blue;
}

.scroll-to-top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 2px;
  right: 7px;
  background-color: #3a7cc3;
  border-radius: 50%;
  border: none;
  padding: 10px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #fff !important;
    border-radius: 5px !important;
  }
  .navbar-toggler {
    background-color: #fff !important;
  }
  .nav-link {
    /* color: #000000 !important; */
    padding: 10px 20px !important;
  }
}
