:root {
  --main-color: #00b4d9;
  --des-color: #4e4e4e;
  --hover-color: #00b4d98a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: var(--des-color);
}
.mainbutton {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: all 0.5s;
}

.mainbutton:hover {
  background-color: var(--hover-color);
}
.color-a {
  text-decoration: none;
}

.color-d {
  color: #f5f5f5;
}

.box-shadow,
.card-blog,
.portfolio-box,
.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: var(--main-color);
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  text-decoration: none;
  color: var(--des-color);
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--main-color);
  width: 100px;
  bottom: -12px;
}

/*------/ Ul resect /------*/
.list-ico,
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico span {
  color: var(--main-color);
  margin-right: 10px;
}
/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #00b4d9;
  display: block;
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
    background-position-x: right;
  }
}
@media (max-width: 425px) {
  .bg-image {
    background-position-x: center center;
  }
}
@media (max-width: 320px) {
  .bg-image {
    background-position: right;
  }
}
a:hover {
  cursor: pointer;
}

.zoom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #00b4d9cc;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  /* mix-blend-mode: difference; */
  transition: transform 0.15s ease;
  transform: translate(-50%, -50%);
  transition-property: opacity, transform, background-color;
  transition-duration: 0.15s, 0.15s, 0.3s;
  transition-timing-function: ease, ease, cubic-bezier(0.5, 0, 0.5, 1);
  will-change: transform, background-color, opacity;
}
