footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: var(--main-color);
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .copyright a {
  color: #fff;
  margin-right: 8px;
}
